@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #27272a;
    --foreground: #f8fafb;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.loader {
  width: 240px;
  height: 36px;
  border-radius: 4px;
  background: linear-gradient(
      90deg,
      #0001 33%,
      #1e4e8c 48%,
      #1e4e8c 52%,
      #0001 66%
    )
    #f8fafb;
  background-size: 300% 100%;
  animation: l1 1.5s infinite linear;
}

@keyframes l1 {
  0% {
    background-position: right;
  }
}
