@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
  .dark {
    --background: #27272a;
    --foreground: #f8fafb;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #1e4e8c 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #1e4e8c);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
