@mixin button-top-s {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0 5px 12px 5px;
    border-radius: 50%;
    border: none;
    background-color: $color4opacity70;
}

@mixin button-top-m {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    padding: 0 5px 12px 5px;
    border-radius: 50%;
    border: none;
    background-color: $color4opacity70;
}

@mixin button-top-l {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    padding: 0 5px 12px 5px;
    border-radius: 50%;
    border: none;
    background-color: $color4opacity70;
}