@import 'config';
@import 'utilities';
@import 'buttons';


body, h1, h2, h3, h4, h5, p, ul, li, ol, hr {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: darken($color5, 10);
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}