
@import url('https://fonts.googleapis.com/css2?family=Playfair:opsz,wght@5..1200,300;5..1200,500;5..1200,700&family=Poppins:wght@300;500;700&display=swap');

body {
    max-width: 70vw;
    margin: 0 auto auto;
    background-color: rgba(221, 221, 221, 0.5);
    font-family: 'Poppins', sans-serif;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
    font-family: 'Playfair', serif;
    font-weight: 700;
}

header {
    margin-bottom: 2vh;
}

nav {
    padding: 0.7rem 3vw;
    background-color: rgb(221, 221, 221);
}

nav > ul {
    display: flex;
    margin: 0 9vw;
    justify-content: space-evenly;
}

.nav-link {
    font-size: 1.5rem;
    color: rgb(81, 108, 141);
}

.nav-link:hover {
    color: rgb(48, 65, 99);
    font-weight: 700;
}

.active {
    color: rgb(48, 65, 99);
    font-weight: 700;
}



@media (max-width: 420px) {
    .nav-link {
        display: none;
    }
}

@media (max-width: 820px) {
    .nav-link {
        font-size: 1rem;
    }
}

@media (max-width: 1024px) {
    .nav-link {
        font-size: 1.2rem;
    }
}

@media (max-width: 1440px) {
    
}





/*

font-family: 'Playfair', serif;
font-family: 'Poppins', sans-serif; 

background-color: rgb(221, 221, 221);
background-color: rgb(81, 108, 141);
background-color: rgb(40, 56, 94);
background-color: rgb(48, 65, 99);

*/